package com.hightouchinc.cynergi.middleware.validator

import spock.lang.Specification

class <%= entity %>ValidatorSpecification extends Specification {

   void "test" () {
      expect:
      1 != 1 // TODO test all the scenarios for the validator
   }
}
