root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,kt,yml,gradle,groovy,sql,js,template}]
indent_style = space
indent_size = 3
continuation_indent_size = 3
curly_bracket_next_line = false
spaces_around_operators = true
wildcard_import_limit = 1000

