<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{10}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" level="ERROR" />
    <logger name="com.zaxxer" level="ERROR" />
    <logger name="io.netty" level="ERROR" />
    <logger name="io.micronaut" level="INFO" />
    <logger name="io.micronaut.cache" level="TRACE" />
    <logger name="com.cynergisuite" level="TRACE" />
    <logger name="io.micronaut.http.client" level="TRACE"/>
    <logger name="org.apache.hc.client5.http.wire" level="TRACE"/>
    <logger name="org.flywaydb" level="INFO" />

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
