<configuration>
    <property name="LOG_FILE_HOME" value="/opt/cyn/v01/cynmid/logs" />
    <property name="BASE_LOG_FILE_NAME" value="document-upload"/>

    <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_HOME}/${BASE_LOG_FILE_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_HOME}/${BASE_LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.apache" level="DEBUG" />
    <logger name="org.apache.hc.client5.http.wire" level="TRACE" />

    <root level="TRACE">
        <appender-ref ref="PROD_FILE"/>
    </root>
</configuration>
