<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Login</title>
   <style>
      section.main-content {
         display: grid;
         height: 100vh;
         margin: 0;
         place-items: center center;
      }
      #login {
         display: grid;
         grid-template-columns: 150px 250px;
      }
   </style>
</head>
<body>
<section class="main-content">
   <form id="login" name="login">
      <label for="username">Username:</label><input id="username" name="username" type="text">

      <label for="password">Password:</label><input id="password" name="password" type="password">
      <button id="submit" type="submit">Login</button>
   </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="application/javascript"></script>
<script type="application/javascript">
$(document).ready(function () {
   $('#login').submit(function (e) {
      const form = $(e.target).serializeArray()
         .map((i) => Object.assign({}, {[i.name]: i.value}))
         .reduce((acc, cur) => Object.assign(acc, cur), {})
      ;

      $.ajax('/api/login', { method: 'POST', data: form })
         .done( (data) => console.log(data) )
         .fail( (xhr, status) => console.log(`${status} => ${xhr.text}`) )
      ;

      e.preventDefault();
      return false;
   });
});
</script>
</body>
</html>

