CREATE TABLE <%= table %> (
   id                BIGSERIAL                              NOT NULL PRIMARY KEY,
   uu_row_id         UUID        DEFAULT uuid_generate_v1() NOT NULL,
   time_created      TIMESTAMPTZ DEFAULT clock_timestamp()  NOT NULL,
   time_updated      TIMESTAMPTZ DEFAULT clock_timestamp()  NOT NULL
);
CREATE TRIGGER update_<%= table %>_trg
   BEFORE UPDATE
   ON <%= table %>
   FOR EACH ROW
EXECUTE PROCEDURE last_updated_column_fn();
